.App {
  height: inherit;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  border-bottom: 1px solid #707070;
}
.component-wrapper {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1;
}
.login {
  border: 1px solid #707070;
  padding: 10px;
  height: fit-content;
  margin: auto;
  border-radius: 8px;
}
.home {
  height: fit-content;
  margin: auto;
  padding: 10px;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
.login > div {
  margin-bottom: 10px;
}
.login label {
  margin-right: 10px;
}

.class-card {
  width: 100%;
  max-width: 300px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: start;
}

.class-card .bold {
  font-weight: 600;
}

.loader-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.loader-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
